<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="application.css">
  </head>
  <body>

    <h1>Books</h1>
    <%= form_with model: @book, url: '/books', method: :post do |f| %>

    <h2>New book</h2>

    <thead>
      <tr>
        <th>Title</th>
        <%= f.text_field :title %>

        <th>Body</th>
        <%= f.text_area :body %>

        <th clospan="3"></th>
      </tr>
    </thead>

    <%= f.submit 'Create Book' %>

    <% end %>

  </body>

</html>